.card-image{
    background-image: url("https://mdbootstrap.com/img/Photos/Others/forest2.jpg");
}

.box{
    border-color: black;
    
    display: flex;
    flex-direction: column;

}
.child-1{
    background-color: #5BA829;
    margin:1px;
    width:128px;
    padding-left: 38px;
    color: white;
    border-radius: 25px;
    margin-bottom: 0px;
 
    margin-right: 10px;
    
    

}

fa, .fas {
    font-weight: 900;
    margin-left: 8px;
}
.votes {
    width: 128px;
    margin-top: 7px;
    margin-left: 13px;
}
.img-thumbnail{
    height:300px;
    width: 300px;
    margin-top:50px;
}
.content{
    
    margin:0px
}

@media only screen and (max-width: 766px) {
    .container-fluid{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content{
    padding: 20px;
    margin: 20px;
    }
    .img-thumbnail{
        height:300px;
        width: 300px;
    }

}
@media only screen and (min-width:1090px){
    .image-container{
        margin-right: 0px;
    }
    .img-thumbnail{
        width:620px;
    }
    .content{
        margin-left: 1px;
    }
}