.card-image{
    background-image: url("https://mdbootstrap.com/img/Photos/Others/forest2.jpg");
}

.box{
    border-color: black;
    
    display: flex;
    flex-direction: column;

}
.child-1{
    background-color: #5BA829;
    margin:1px;
    width:128px;
    padding-left: 38px;
    color: white;
    border-radius: 25px;
    margin-bottom: 0px;
 
    margin-right: 10px;
    
    

}

fa, .fas {
    font-weight: 900;
    margin-left: 8px;
}
.votes {
    width: 128px;
    margin-top: 7px;
    margin-left: 13px;
}

